<% provide(:title, 'All users') %>

<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <!-- railsの魔法で render @usersと表記することも可能だが、わかりにくいので別記法を使用 -->
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>